/*Roboto*/
@font-face {
    font-family: "RobotoRegular"; 
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "RobotoBold"; 
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); 
    font-style: bold; 
    font-weight: bold; 
}
@font-face {
    font-family: "RobotoThin"; 
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLight"; 
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "RobotoLight"; 
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "RobotoBlack"; 
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"); 
    font-style: bold; 
    font-weight: bold; 
}
/*RobotoSlab*/
@font-face {
    font-family: "RobotoSlabRegular"; 
    src: url("../fonts/Roboto/RobotoSlab-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "RobotoSlabThin"; 
    src: url("../fonts/Roboto/RobotoSlab-Thin.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}