* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.container div {
  padding: 0;
}

body {
  font: 14px RobotoLight, sans-serif;
  background-color: #4a454b;
}

.nav, .header {
  width: 100%;
}

.nav {
  padding-top: 40px;
}
.nav .logo {
  width: 230px;
  height: 62px;
  margin: 0 auto;
}
.nav .menu {
  float: right;
  overflow: hidden;
}
.nav .menu .burger {
  cursor: pointer;
  margin-top: 10px;
  width: 30px;
  float: right;
}
.nav .menu .burger span {
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  margin-bottom: 5px;
}
.nav .menu .items li {
  float: left;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font: 15px RobotoThin, sans-serif;
}
.nav .menu .items li a:hover {
  color: white;
}

.header {
  position: relative;
}
.header .container {
  background: url(../img/bg.png) no-repeat 10px bottom;
}
.header .timer {
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 118px 0 350px 0;
  padding-bottom: 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #90d23d;
}
.header .timer > div, .header .timer > p {
  display: inline-block;
  font: 130px RobotoSlabThin, sans-serif;
}
.header .timer > p {
  vertical-align: top;
  margin: 0 3%;
}
.header .timer > div > span {
  font: 25px RobotoSlabRegular, sans-serif;
  text-transform: uppercase;
  display: block;
}

.main-section {
  margin-top: -95px;
  background: #fff;
  width: 100%;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
}
.main-section .container {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
  padding-top: 70px;
}
.main-section .row {
  margin-bottom: 130px;
}
.main-section h3 {
  font: 50px RobotoBlack, sans-serif;
  color: #242424;
}
.main-section p, .main-section h3 {
  margin-bottom: 20px;
}
.main-section .signup-block {
  width: 100%;
  position: relative;
  text-align: center;
}
.main-section .signup-block .singup-form {
  margin-top: -250px;
  width: 100%;
  padding: 30px;
  border: 1px solid #dbdada;
  background: #fff;
}
.main-section .signup-block .singup-form h3 {
  font: 30px RobotoBold, sans-serif;
}
.main-section .signup-block .singup-form input {
  padding: 0 14px;
  width: 100%;
  height: 55px;
  border: 1px solid #bebebe;
  line-height: 55px;
  font: 19px RobotoLight, sans-serif;
  margin-bottom: 20px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -ms-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  opacity: 0.7;
  outline: none;
}
.main-section .signup-block .singup-form input:focus {
  border: 1px solid #90d23d;
  opacity: 1;
}
.main-section .signup-block .singup-form button {
  width: 100%;
  padding: 15px;
  font: 22px "RobotoBold", sans-serif;
  background: #90d23d;
  border: none;
  color: #fff;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -ms-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  margin-bottom: 20px;
}
.main-section .signup-block .singup-form p {
  margin: 0px;
  font-size: 15px;
}
.main-section .item-box.center {
  padding: 0 50px;
}
.main-section .item-box {
  text-align: center;
}
.main-section .item-box .icon {
  width: 198px;
  height: 211px;
  margin: 0 auto 20px auto;
}
.main-section .item-box h3 {
  font-size: 35px;
}

@media screen and (max-width: 992px) {
  .active {
    display: block !important;
  }

  .nav .menu {
    position: relative;
    float: none;
    width: 100%;
    padding: 10px 0;
    position: relative;
    overflow: visible;
  }
  .nav .menu .burger {
    float: none;
    margin: 0px auto;
  }
  .nav .menu .items {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    background: #4a454b;
    margin: 0;
    text-align: center;
    transition: height 0.2s;
    z-index: 1000;
  }
  .nav .menu .items li {
    float: none;
    padding: 10px;
    margin: 0;
  }

  .section-1 .sigup-block .singup-form {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
