@media screen and (max-width: 992px){
    .active{
        display: block !important;
    }
    .nav{
        .menu{
            position: relative;
            float: none;
            width: 100%;
            padding: 10px 0;
            position: relative;
            overflow: visible;
            
            .burger{
                float: none;
                margin: 0px auto;
            }
            .items{
                position: absolute;
                top: 100%;
                width: 100%;
                display: none;
                background: #4a454b;
                margin: 0;
                text-align: center;
                transition: height .2s;
                z-index: 1000;
                li{
                    float: none;
                    padding: 10px;
                    margin: 0;
                }
            }
        }
    }
    .section{
        .sigup-block{
           .singup-form{
                margin-top: 0;
            } 
        }
        
    }
}
