

$first_color: #4b4d4f;
$seconf_color: #90d23d;
$third_color: #373737;

$body_font: 14px RobotoLight, sans-serif;
$btn_font: 22px RobotoRegular, sans-serif;
$header_font: 50px RobotoBlack, sans-serif;

@mixin border-radius($a,$b,$c,$d){
    -webkit-border-radius: $a $b $c $d;
    -moz-border-radius: $a $b $c $d;
    -ms-border-radius: $a $b $c $d;
    -o-border-radius: $a $b $c $d;
    border-radius: $a $b $c $d;
}

*{
    padding: 0;
    margin: 0; 
}
ul{
    list-style-type: none;
    padding: 0;
}
a{
    color: inherit;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

.container{
    div{
      padding: 0;  
    } 
}
body{
    font: $body_font;
    background-color: #fff;
}
.nav,.header{
    background: #4a454b;
    width: 100%;
}
.nav{
    padding-top: 40px;
    .logo{
        width: 230px;
        height: 62px;
        margin: 0 auto;
    }
    
    .menu{
        float: right;
        overflow: hidden;
        .burger{
            cursor: pointer;
            margin-top: 10px;
            width: 30px;
            float: right; 
            span{
                display: block;
                width: 30px;
                height: 5px;
                background: #fff;
                margin-bottom: 5px;
            }
        }
        .items{
            li{
                float: left;
                margin-left: 20px;
                color: rgba(255,255,255, .7);
                text-transform: uppercase;
                font: 15px RobotoThin, sans-serif;
                a{
                    &:hover{
                        color: rgba(255,255,255, 1);
                    }   
                }
            }
        }
    }
}
.header{
    position: relative;
    overflow: hidden;
    .timer{
        text-align: center;
        color: #fff;
        width: 100%;
        margin: 118px 0 230px 0;
        padding-bottom: 20px;
        @include border-radius(20px, 20px, 20px, 20px);
        border: 2px solid $seconf_color;
    }
    
    .timer>div,.timer>p{
        display: inline-block;
        font: 130px RobotoSlabThin, sans-serif;
    }
    .timer>p{
        vertical-align: top;
        margin: 0 3%;
    }
    .timer>div>span{
        font: 25px RobotoSlabRegular, sans-serif;
        text-transform: uppercase;
        display: block;
    }
    .skew{
        overflow: hidden;
        position: relative;
    }
    .skew,.skew>div{
        width: 100%;
        height: 120px; 
    }
    .skew>div{
        position: absolute;
        top: 60px;
        background: #fff;
        transform: skewY(-5deg);
    }
    .heroes{
        position: absolute;
        bottom: -40px;
        margin-left: 20px;
    }
}


@import "media";
